

#home_page h1 {
    color: #99bcac;
}
.dark #home_page h1{
    color: white;
}

@media screen and (max-width: 900px) {
    #home_page h1 {
        color: #eb4848;
    }
}

body {  
    font-family: "LXGW WenKai Screen", "Consolas", Helvetica, sans-serif;
}

#content_body img {
    display: block;
    margin: 0 auto;
}

table {
    margin: 0 auto;
    display: block;
    width: auto;
}
