@font-face {
    font-family: 'LXGW WenKai';
    src: url('/static/font/LXGWWenKai-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

#home_page h1 {
    color: #99bcac;
}
.dark #home_page h1{
    color: white;
}

@media screen and (max-width: 900px) {
    #home_page h1 {
        color: #eb4848;
    }
}

body {  
    font-family: "LXGW WenKai", "Consolas", Helvetica, sans-serif;
    font-size: 18px;
}

#content_body img {
    display: block;
    margin: 0 auto;
}

table {
    margin: 0 auto;
    display: block;
    width: auto;
}
